<!DOCTYPE html>
<html lang="en">

<head>

    <title>Health Center </title>
    <link rel="icon" href="./images/webs-logo.png" type="image/png">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/util.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/tooplate-style.css">



</head>




<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <!-- PRE LOADER -->
    <section class="preloader">
        <div class="spinner">

            <span class="spinner-rotate"></span>

        </div>
    </section>




    <!-- MENU -->
    <section class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                </button>

                <!-- lOGO TEXT HERE -->
                <a href="/home" method="POST" class="navbar-brand"><i class="fa fa-h-square"></i>ealth Center</a>


            </div>

            <!-- MENU LINKS -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="menuhover"><a href="#top" class="smoothScroll">Home</a></li>
                    <li class="menuhover"><a href="#about" class="smoothScroll">About Us</a></li>
                    <li class="menuhover"><a href="#team" class="smoothScroll">Doctors</a></li>
                    <li class="menuhover"><a href="#news" class="smoothScroll">News</a></li>
                    <li class="menuhover"><a href="#google-map" class="smoothScroll">Contact</a></li>
                    <% if (typeof usern !== 'undefined') { %>
                        <li class="menuhover">

                            <a href="/userprofile" class="smoothScroll">
                                <% if (typeof tests !== 'undefined') { %>
                                    <i class="fa fa-paper-plane-o " style="color: #bd182e; font-size: 15px;"></i>
                                    <% } %>
                                        <%= usern %>
                            </a>
                            <li class="menuhover"><a href="/logout" class="smoothScroll"> Log out <i class="fa fa-power-off " style="color: #bd182e; font-size: 15px;"> </i>  </a></li>
                            <%} else {%>
                                <li class="menuhover"><a href="/login" class="smoothScroll">Log in <i class="fa fa-share " style="color: #bd182e; font-size: 17px;">  </i>   </a></li>
                        </li>
                        <% } %>


                            <li class="appointment-btn"><a href="#appointment">Make an appointment</a></li>
                </ul>
            </div>

        </div>
    </section>


    <!-- HOME -->
    <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">

                <div class="owl-carousel owl-theme">
                    <div class="item item-first">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Let us make your life happier</h3>
                                <h1>Healthy Living</h1>
                                <a href="#team" class="section-btn btn btn-default smoothScroll">Meet Our Doctors</a>
                            </div>
                        </div>
                    </div>

                    <div class="item item-second">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Get More of Your Inside Story</h3>
                                <h1>New Lifestyle</h1>
                                <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
                            </div>
                        </div>
                    </div>

                    <div class="item item-third">
                        <div class="caption">
                            <div class="col-md-offset-1 col-md-10">
                                <h3>Your Health Benefits </h3>
                                <h1>We Care About Your Privacy </h1>
                                <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to Your <i class="fa fa-h-square"></i>ealth Center</h2>
                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <p>Our Website helps you to perfom a DNA Genetic testing to better understand your family connections.</p>
                            <p>If you want to get a more complete picture of your Health with insights from your genetic data..</p>
                            <p>Automatically built from your DNA relationships. It’s easy. It’s convenient. It’s just a click away.</p>
                        </div>
                        <figure class="profile wow fadeInUp" data-wow-delay="1s">
                            <img src="images/author-image.jpg" class="img-responsive" alt="">
                            <figcaption>
                                <h3>Dr. Neil Jackson</h3>
                                <p>General Principal</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="images/about3.jpg" class="img-responsive" alt="">
                </div>

            </div>
        </div>
    </section>



    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <img src="images/about4.jpg" class="img-responsive" alt="">
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <h2 class="wow fadeInUp" data-wow-delay="0.6s"><i class="fa fa-h-square"></i>ealth Center means your Health</h2>
                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <p>Get in-depth information about conditions, and receive continuous updates as scientific knowledge about advances in genetics grows..</p>
                            <p>Find and connect with relatives in the Our database who share DNA with you..</p>
                            <p>Learn how genetics can influence your chances of developing certain health conditions.</p>
                        </div>
                        <figure class="profile wow fadeInUp" data-wow-delay="1s">
                            <img src="images/author-image.jpg" class="img-responsive" alt="">
                            <figcaption>
                                <h3>Dr. Neil Jackson</h3>
                                <p>General Principal</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </section>





    <!-- TEAM -->
    <section id="team" data-stellar-background-ratio="1">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <h2 class="wow fadeInUp" data-wow-delay="0.1s">Our Doctors</h2>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="images/team-image1.jpg" class="img-responsive" alt="">

                        <div class="team-info">
                            <h3>Nate Baston</h3>
                            <p>General Principal</p>
                            <div class="team-contact-info">
                                <p><i class="fa fa-phone"></i> 010-020-0120</p>
                                <p><i class="fa fa-envelope-o"></i> <a href="#">natebaston@gmail.com</a></p>
                            </div>
                            <ul class="social-icon">
                                <li>
                                    <a href="#" class="fa fa-linkedin-square"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-envelope-o"></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <img src="images/team-image2.jpg" class="img-responsive" alt="">

                        <div class="team-info">
                            <h3>Jason Stewart</h3>
                            <p>Health Advisor</p>
                            <div class="team-contact-info">
                                <p><i class="fa fa-phone"></i> 010-070-0170</p>
                                <p><i class="fa fa-envelope-o"></i> <a href="#">jasonstewart@gmail.com</a></p>
                            </div>
                            <ul class="social-icon">
                                <li>
                                    <a href="#" class="fa fa-facebook-square"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-envelope-o"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-flickr"></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <img src="images/team-image3.jpg" class="img-responsive" alt="">

                        <div class="team-info">
                            <h3>Nicole Parker</h3>
                            <p>Genetic Consultant</p>
                            <div class="team-contact-info">
                                <p><i class="fa fa-phone"></i> 010-040-0140</p>
                                <p><i class="fa fa-envelope-o"></i> <a href="#">nicoleparker@gmail.com</a></p>
                            </div>
                            <ul class="social-icon">
                                <li>
                                    <a href="#" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fa fa-envelope-o"></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- NEWS -->
    <section id="news" data-stellar-background-ratio="2.5">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Latest News</h2>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <a href="news-detail.html">
                            <img src="images/news-image1.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>March 08, 2021</span>
                            <h3><a href="news-detail.html">About Amazing Technology</a></h3>
                            <p>By useing the next generation sequencing Technology makes the process faster and easier to get Precise Results .</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <a href="news-detail.html">
                            <img src="images/news-image2.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>April 20, 2021</span>
                            <h3><a href="news-detail.html">For the New Season Introducing Discounts and Offers</a></h3>
                            <p>get a discount for acquiring a Genetic reports and DNA Paternity test.</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <!-- NEWS THUMB -->
                    <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
                        <a href="news-detail.html">
                            <img src="images/news-image3.jpg" class="img-responsive" alt="">
                        </a>
                        <div class="news-info">
                            <span>May 27, 2021</span>
                            <h3><a href="news-detail.html">Review Annual Medical Research</a></h3>
                            <p>To our dear Clients you are our concern.</p>
                            <p>get a free medical health and genetic reports by joining our membership</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- MAKE AN APPOINTMENT -->
    <section id="appointment" data-stellar-background-ratio="3">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <img src="images/appointment-image.jpg" class="img-responsive" alt="">
                </div>

                <div class="col-md-6 col-sm-6">
                    <!-- CONTACT FORM HERE -->
                    <form id="appointment-form" action="/makeappointment" method="POST">

                        <!-- SECTION TITLE -->
                        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                            <h2>Make an appointment <i class=" fa fa-handshake-o  " style="color: #bd182e; font-size: 25px; "> </i></h2>
                        </div>

                        <div class="wow fadeInUp " data-wow-delay="0.8s">
                            <div class="col-md-6 col-sm-6">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required>
                            </div>

                            <div class="col-md-6 col-sm-6 ">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
                            </div>

                            <div class="col-md-6 col-sm-6 ">
                                <label for="date">Select Date</label>
                                <input type="date" name="date" value="" class="form-control" required>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <label for="select">Select Department</label>
                                <select class="form-control" name="department">
                                    <option name="department">General Health</option>
                                    <option name="department">Consultation</option>
                                    <option name="department">Genetic Testing</option>                                        
                                    <option name="department">Medical Research</option>
                               </select>
                            </div>

                            <div class="col-md-12 col-sm-12 ">

                                <label for="telephone">Phone Number</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone" required>
                                <label for="Message">Additional Message</label>
                                <textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>
                                <button type="submit" class="form-control" id="cf-submit">Submit Button</button>

                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <br><br><br><br><br>


    <section id="reports" data-stellar-background-ratio="2.5">
        <div class="container">
            <div class="row">
                <div class="news-info">

                    <h2 class="wow fadeInUp " data-wow-delay="0.2s">Reach us Through Google maps <i class=" fa fa-map-marker " style="color: #bd182e; font-size: 29px; "> </i></h2>

                </div>
            </div>
        </div>
    </section>
    <br>
    <!-- GOOGLE MAP -->
    <section id="google-map">
        <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
	-->

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d156242.99553405086!2d31.253729748541932!3d30.079432241300598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x27b0c5de6e94f43!2sCairo%20health%20care!5e0!3m2!1sen!2seg!4v1621837733318!5m2!1sen!2seg"
            width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>


    <!-- FOOTER -->
    <footer data-stellar-background-ratio="5">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact Info <i class=" fa fa-phone " style="color: #bd182e; font-size: 20px; "> </i></h4>
                        <p>Our Dear Clients we are happy to be in contact with you 24/7 by .</p>

                        <div class="contact-info">
                            <p><i class="fa fa-phone"></i> 010-070-0170</p>
                            <p><i class="fa fa-envelope-o"></i> <a href="#">EgyGene@healthcare.com</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">Latest News <i class=" fa fa-newspaper-o " style="color: #bd182e; font-size: 20px; "> </i></h4>
                        <div class="latest-stories">
                            <div class="stories-image">
                                <a href="#"><img src="images/news-image1.jpg" class="img-responsive" alt=""></a>
                            </div>
                            <div class="stories-info">
                                <a href="#">
                                    <h5>Amazing Technology</h5>
                                </a>
                                <span>March 08, 2018</span>
                            </div>
                        </div>

                        <div class="latest-stories">
                            <div class="stories-image">
                                <a href="#"><img src="images/news-image.jpg" class="img-responsive" alt=""></a>
                            </div>
                            <div class="stories-info">
                                <a href="#">
                                    <h5>New Healing Process</h5>
                                </a>
                                <span>February 20, 2021</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <div class="opening-hours">
                            <h4 class="wow fadeInUp" data-wow-delay="0.4s">Opening Hours <i class=" fa fa-briefcase  " style="color: #bd182e; font-size: 20px; "> </i></h4>
                            <p>Monday - Friday <span>06:00 AM - 10:00 PM</span></p>
                            <p>Saturday <span>09:00 AM - 08:00 PM</span></p>
                            <p>Sunday <span>Closed</span></p>
                        </div>

                        <ul class="social-icon">
                            <li>
                                <a href="https://www.facebook.com/" class="fa fa-facebook-square" attr="facebook icon"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/explore" class="fa fa-twitter"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 border-top">
                    <div class="col-md-4 col-sm-6">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2018 Your Company | Design: Tooplate</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="footer-link">
                            <a href="#">Laboratory Tests</a>
                            <a href="#">Departments</a>
                            <a href="#">Insurance Policy</a>
                            <a href="#">Careers</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-align-center">
                        <div class="angle-up-btn">
                            <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>



</body>

</html>